
.WelcomeTextConatiner-Home{
    text-align: center;
    background-color: orange;
    margin: 0px;
    color: white;
}
    
.WelcomeTextConatiner-Home .Header{
    margin-top: 0px;
    margin-bottom: 5px;
}
.WelcomeTextConatiner-Home .Bullshit{
    margin: 0px;
}

.ImageContainer-Welcome {
    display: flex;
    justify-content: center;
    background-color: #005;
    padding-top: 1em;
    height: 100vh;
  }