.Navigation-bar {
    background: #333;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.NavBar-Item {
    color: #FFF;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.NavItemHome:hover, .NavItemPictures:hover {
    background-color: #555;
}